[2016-02-02 02:45] ethers opened #6 "Update Subtleties"
Not exactly for the guide, but probably no better place to track the issue of updating the Ethereum Subtleties wiki

https://gitter.im/ethereum/yellowpaper?at=56ab399eeaf741c118d59a58

https://github.com/ethereum/wiki/wiki/Subtleties
is this still accurate:
If a transaction triggers an exception, then:
The value transfer from sender to recipient still takes place

gavofyork Jan 29 02:06
**no - tha

[2016-02-08 01:13] zelig opened #11 "what is ethereum"
add to https://github.com/ethereum/homestead-guide/blob/master/source/introduction/what-is-ethereum.rst

* [ ] add cross references
* [ ] incorporate some insightful descriptions using https://www.reddit.com/r/ethereum/comments/44b69e/i_dont_understand_the_technology/ and all the threads
* [ ] add resources section with links to videos and intro articles , infographic and relevant reddit threads
*

[2016-02-08 01:46] hughlang commented on #11
Great ideas. I will look into these. Of course, it's fair game for anyone.

I also found this today, which is also a nice approach.
https://blog.ethereum.org/2014/05/14/what-is-ethereum-project-platform-fuel-stack/

[2016-02-08 03:25] zelig commented on #11
dont forget this as a source too.
https://ethereum.gitbooks.io/frontier-guide/content/ethereum.html
and here is the rst converted version already in the repo https://github.com/ethereum/homestead-guide/blob/master/old-docs-for-reference/main-wiki.rst/What-is-Ethereum.rst
_

[2016-02-10 13:25] c0d3inj3cT opened #13 "Fix the Client Implementation Links."
@Souptacular

Please fix the client implementation links in the documentation here:

https://github.com/ethereum/homestead-guide/blob/master/source/ethereum-ecosystem/client-implementations.rst

The link for the Golang client is incorrect at present. It is pointing to: http://ethereum.github.io/go-ethereum/) instead of http://ethereum.github.io/go-ethereum/

Notice the extra parenthesis at the end

[2016-02-10 22:44] void4 commented on #11
What I'm still missing is a broader description - how Ethereum can be used with other components, how it can remove intermediaries or make them explicit and what the original vision is all about. See here: https://news.ycombinator.com/item?id=11075505

Also, we should not expect knowledge of what the blockchain is as given. Many newcomers come from an entirely different direction and might not eve

[2016-02-10 22:54] Souptacular commented on #13
Thanks! Fixed.

[2016-02-10 22:54] #13 closed

[2016-02-11 16:13] klmoney opened #17 "Some thoughts on the structure/outline of the guide"
Some thoughts on the structure/outline of the guide especially relating to Accounts/Wallets

There is no mention of wallet apps (including independently-developed wallet apps) in the Ecosystem section. Should we list them: Mist Wallet, MyEtherWallet, EthAddress.org etc. (perhaps with disclaimer about endorsement) https://www.reddit.com/r/ethereum/comments/4543cu/when_can_we_expect_a_guiwallet/

Af

[2016-02-18 14:05] #17 closed

[2016-02-18 14:07] klmoney commented on #17
Probably requires a rethink.

[2016-02-21 14:29] zelig opened #34 "correct windows paths once PR merged"
https://github.com/ethereum/go-ethereum/issues/2239
will change windows path

[2016-02-22 07:13] zelig opened #35 "glossary"
* [ ] check for completeness
* [ ] provide definitions using internal links when possible
* [ ] alphabetical ordering
* [ ] remove obsolete terminology section - just mark terms as OBSOLETE

[2016-02-22 07:15] zelig opened #36 "double-check history"
for reasonable completeness and accuracy
@tgerring ?

[2016-02-22 07:16] zelig opened #37 "check disclaimer, licensing and homestead release sections with foundation and dev leads"

[2016-02-22 07:22] zelig opened #38 "post appeal to community"
Post appeal to reddit (and forum) community to check, correct or even maintain topical pages

* [ ] Mining and pools: /r/ethmining
* [ ] Getting Ether and exchanges: /r/EthTrader
* [ ] Dapp development resources
* [ ] Community discussion fora

[2016-02-22 07:45] zelig opened #40 "a few paragraphs on syncing, fast sync and light client concept"
@karalabe ?

[2016-02-22 07:50] zelig opened #41 "proof of stake, scalability,casper and the research group"
a few paragraphs and extensive resource listing
see also https://souptacular.gitbooks.io/ethereum-tutorials-and-tips-by-hudson/content/proof-of-stake_resources.html
@homotopycolimit ?

[2016-02-22 07:51] zelig opened #42 "migrate and update client install instructions"
@bobsummerwill ?

[2016-02-22 07:56] zelig opened #43 "lifecycle of transactions"
a few paragraphs on transaction pool, propagation, nonce incrementing, debugging
@karalabe , @fjl ?

[2016-02-22 08:00] zelig opened #44 "whisper summary & status"
@karalabe ?

[2016-02-22 08:27] zelig opened #45 "FAQ"
* [ ] organise into major topics ?
* [ ] format properly
* [ ] cross references
* [ ] check reddit, forum, stackexchange for frequently asked qs and add them

keep adding question answers and external links

[2016-02-22 09:04] zelig opened #46 "Mix IDE"
a few paragraphs on Mix capabilities, and doc, code, tutorial resource listing
@yann300 @LianaHus ?

[2016-02-22 20:44] bobsummerwill commented on #42
Yes, I can and should do that.   Please free to assign to me.    I appear unable to self-assign :-)

[2016-02-24 08:18] Souptacular commented on #46
This is a good idea.

[2016-02-24 08:38] Souptacular commented on #37
Talked to Lisa Cheng and she said Ming would know who to ask about that. Will reach out to Ming soon

[2016-02-27 09:27] Souptacular commented on #35
Alphabetical ordering is done. It is now using glossary directive with proper spacing and formatting.

[2016-02-27 16:04] jjmstark commented on #11
Cool - I've been working on the introduction & just saw this list - will incorporate these ideas this weekend.

[2016-02-29 03:41] Souptacular commented on #37
Talked to Ming. She says the current disclaimer page is just fine. Closing issue.

[2016-02-29 03:41] #37 closed

[2016-02-29 04:40] Souptacular commented on #41
I talked to @vladzamfir and he said nothing about PoS, stake, or casper is ready for primetime and certainly not homestead so it would be better if we do not mention things in the homestead guide that aren't happening anytime soon and are not fully ideated.

[2016-02-29 21:31] tgerring commented on #36
Added my feedback in 0157090a5c82f74dda1005e05a3e0cf7e294bd5b

[2016-03-01 08:13] zelig commented on #36
are we good to go or you still gonna add/modify?

[2016-03-01 08:16] zelig commented on #41
i disagree. This is one of the most widely watched change on the ethereum roadmap.
We defo mention it with links to resources and the research community.
I agree that a disclaimer should be loud and clear saying it is all in the air.

[2016-03-01 08:17] zelig commented on #35
this is awesome. Internal cross references are crucial though.

[2016-03-01 08:19] zelig commented on #45
https://github.com/ethereum/homestead-guide/pull/50

[2016-03-01 08:23] zelig commented on #35
https://github.com/ethereum/homestead-guide/pull/59

[2016-03-01 14:21] zach-is-my-name opened #67 "Homestead RTD UX"
My experience with the Frontier Guide was very positive and learning Frontier with it was a breeze .

Why I prefer Gitbook:

- Clean UI (no distractions)
- Side-pane can be hidden (no distractions)
- Side-pane can show full outline, (fly up and down all topics)

Why I **DO NOT** prefer RTD

- Solid color side-pane is a distraction
- Inability to hide side-pane
- Inability to expand full outline

C

[2016-03-01 14:56] zelig commented on #67
*  full outline will be added just required one line change
* we use RTD cos it has nicer UI and can compile to all imaginable doc formats

I don't like it too much though cos it has extremely counterintuitive and convoluted markup.

Metropolis/Serenity will surely be another system.

[2016-03-01 14:56] #67 closed

[2016-03-01 15:33] Souptacular commented on #41
I think we should put a section with links to discussions around it, but it is so up in the air at this point, it would be detrimental to write anything definitively besides references to other sources.

Maybe something like a modified version of this:
https://souptacular.gitbooks.io/ethereum-tutorials-and-tips-by-hudson/content/proof-of-stake_resources.html

or carve out a section in the FAQ abou

[2016-03-02 16:25] void4 commented on #11
Adding a section explaining the relation of the Homestead release to Serenity and other Ethereum 2.0 changes could be very helpful. The linked blog post is not concise enough.

[2016-03-02 17:16] zelig commented on #41
maybe this should be somewhere around the roadmap itself. There i will put a subsection 'future directions' and mention scalability and proof of stake etc.
sure nothing definitive that list of resources and links to discussions

[2016-03-02 17:23] zelig commented on #11
@void4 that is cool please see https://github.com/ethereum/homestead-guide/issues/41

[2016-03-02 23:20] hughlang commented on #11
I realize I am super tardy in following up on this ticket. I think the original feedback from @zelig is still pertinent and would be happy to help. I identified a number of typos to fix as well.

However, there is an open PR for this page with significant changes so that should get handled first.

[2016-03-03 06:56] void4 commented on #41
A general overview of Serenity should be sufficient to prevent confusion about the Big Freeze at the end of the year :)

Currently, the Ethereum consensus uses a Proof of Work (PoW) algorithm to determine which miner gets to append a new block to the chain. The algorithm, which is called *EtHash* is defined here:
https://github.com/ethereum/wiki/wiki/Ethash

Due to inherent scalability limitations

[2016-03-03 10:09] klmoney opened #70 "Contents of Backup/Import page (in Using Ethereum: The Basics)"
Would appreciate some clarification as to contents of [this page](https://ethereum-homestead.readthedocs.org/en/latest/using-ethereum-the-basics/backup-import-accounts.html#backup-import-accounts).

* Note that [backup of accounts](https://ethereum-homestead.readthedocs.org/en/latest/using-ethereum-the-basics/account-management.html#backup-and-restore-of-accounts), and [import of accounts using pr

[2016-03-04 06:17] Souptacular commented on #70
Good question. @bobsummerwill is planning on taking all of the turboethereum guide (which includes a section on cold storage and ethkey) and moving it to the homestead guide. Maybe it should all be consolidated into "Account Management" section to avoid confusion. So instead of having a back/restore page, we just have another sub-area of the accounts page to include pre-sale import and some online

[2016-03-04 20:14] taoteh1221 opened #76 "I'd Like to Submit My Stackexchange Documentation on Mist Account / Multisig Setup"
I'd like to contribute my stackexchange walkthrough on setting up Mist with accounts and a multisig wallet, into the homestead documentation if it meets your guidelines. Here is the post:

http://ethereum.stackexchange.com/questions/1239/what-is-the-recommended-way-to-safely-store-ether/1430#1430

Let me know if you need me to do anything to get this documentation added, if it does meet your guide

[2016-03-07 03:25] Souptacular commented on #76
Wonderful! Please submit a PR.

[2016-03-07 05:40] taoteh1221 commented on #76
Cool, I will get to that this week as soon as I have some free time.

[2016-03-10 17:26] misternils opened #105 "mining - ethminer "no gpu device with sufficient memory was found""
Can't get ethminer started with GPU mining.

Running geth node
loading ethminer -g
gets this error message: "no gpu device with sufficient memory was found. Can't GPU mine. Remove the -G argument"

I have a AMD Firepro w7100. It's a powerful graphics card with lots of memory

[2016-03-10 18:08] misternils commented on #105
found that using `--opencl-platform 1` after -G (or instead of?) helps ethminer find find my GPU

[2016-03-11 00:07] misternils commented on #105
Well I found a work around, does that really solve the issue?

[2016-03-11 00:19] bobsummerwill commented on #105
This is a bug about a specific tool, but this repo is for the Homestead documentation.    We wouldn't fix this issue here.

If you could log a new issue on http://github.com/ethereum/webthree-umbrella so we don't lose track of the detection being unreliable, and/or error message being less than useful, that would be much appreciated!

[2016-03-11 00:19] #105 closed

[2016-03-11 16:24] misternils commented on #105
ok, thanks

[2016-03-11 22:43] taoteh1221 commented on #76
Have not forgotten this, just a busy week full of web2 clients loading me up with work...will be free this weekend to do a PR.

[2016-03-12 02:44] Souptacular commented on #76
No worries, thanks for the update.

[2016-03-13 19:58] taoteh1221 commented on #76
I got the text formatting framework and all the required addons installed and working, so I can test whatever I add to the docs in my fork before a PR. Do you have a preferred existing section / page where you'd like me to add my "Setup A Multisig Wallet In Mist" tutorial? I didn't want to just go ahead and choose a category placement / create a category without your input. It seems like it would

[2016-03-13 20:55] bobsummerwill commented on #76
If you are planning on doing anything TODAY, please jump on https://gitter.im/ethereum/homestead-guide to coordinate, @taoteh1221.   It's all a bit of a scramble for Homestead.    If you don't mind waiting until Tuesday, you'll have an easier time of this!

[2016-03-13 21:07] taoteh1221 commented on #76
@bobsummerwill My time has ended up a bit limited today, didn't realize I had to setup the text formatting framework...that took me an hour to get installed / running smoothly. :smile: Thanks, I'll check in on that gitter channel Tuesday then, and see what you all want to do with this multisig tutorial. Favoriting it now.

[2016-03-13 22:45] bobsummerwill commented on #76
Cool - thanks!

[2016-03-13 23:51] taoteh1221 commented on #76
Your welcome.

[2016-03-15 15:20] mlori opened #161 "Broken link in Docs » Using Ethereum: The Basics » Connecting to the Network"
At end of section **Exporting/Importing the blockchain**:

.... see this [link](https://ethereum-homestead.readthedocs.org/en/latest/using-ethereum-the-basics/staticnodes)

Got 404

[2016-03-16 04:00] Souptacular opened #164 "Documentation Structure Changes"
This issue will track discussion on what the state of the documents should be. @zelig has made some suggestions that I will highlight below for discussion. It appears his structuring of the guide is based in part on the Frontier guide, which had an awesome layout. We may need to work through the complications of keeping that type of vertical, topical structuring.

**High Level:**
- Reinstate Front

[2016-03-28 06:59] polleykc opened #200 "Typo in Ethdocs"
[http://ethdocs.org/en/latest/ether.html](url)
Section:

[2016-03-28 07:30] bobsummerwill commented on #200
Thanks!   Fixed in https://github.com/ethereum/homestead-guide/pull/201, and added you to the contributors list.

[2016-03-28 07:30] #200 closed

[2016-03-29 01:11] zacwitte opened #204 "Installing on Ubuntu 14.04 from PPA is missing packages"
After adding the repositories based on the current [homestead documentation](https://ethereum-homestead.readthedocs.org/en/latest/ethereum-clients/cpp-ethereum/installing-binaries/linux-ubuntu-ppa.html) and trying to install `cpp-ethereum` it can't find the packages.

[code]

After adding the ethereum-dev PPA it does find the packages, but Ubuntu won't install them.

[code]

After manually specify

[2016-03-31 01:12] Souptacular commented on #204
@bobsummerwill any ideas? I'm not sure about this one.

[2016-03-31 04:00] bobsummerwill commented on #204
Oh dear, @zacwitte.    That is annoying.

Which Ubuntu version are you using?   If you look at the [building from source instructions](https://ethereum-homestead.readthedocs.org/en/latest/ethereum-clients/cpp-ethereum/building-from-source/linux.html#installing-dependencies-for-ubuntu), you will see that some of the package names changed across versions.   This should already be captured in the per

[2016-03-31 04:00] bobsummerwill commented on #204
Older Wiki content which might have some clues?

https://github.com/ethereum/webthree-umbrella/wiki/Compatibility-Info-and-Build-Tips
https://github.com/ethereum/webthree-umbrella/wiki/Building-on-Ubuntu

[2016-03-31 23:05] bobsummerwill opened #213 "Add information from juanfranblanco"
Netethereum, Solidity plugin for VS Code, NuGet packages and more.
As discussed with him in Twitter.
Suck all that info into our docs.

[2016-04-11 07:50] zelig opened #223 "migrate install instructions and some wiki content under clients/go-ethereum"
currently the go-ethereum client page still refers to frontier and only has links to wiki

[2016-04-11 07:51] zelig opened #224 "fix web3 base layer services duplication"

[2016-04-12 17:45] bobsummerwill commented on #46
@yann300 added content on MIX in https://github.com/ethereum/homestead-guide/pull/226.

[2016-04-12 17:45] #46 closed

[2016-04-12 17:45] bobsummerwill commented on #164
We did this, right?   @zelig @Souptacular?

[2016-04-22 16:59] Talkless opened #236 "ePub version?"
Hi,

Is it possible to build ePub version for e-reader?

Thanks.

[2016-04-28 03:49] Souptacular commented on #236
Yes there is. Visit this page: http://readthedocs.org/projects/ethereum-homestead/downloads/epub/latest/

[2016-04-28 04:35] bobsummerwill commented on #236
That's pretty cool, eh, @Souptacular and @zelig, though the formatting is a little weird.
Useful, though!

[2016-04-28 04:35] #236 closed

[2016-04-28 06:43] Talkless commented on #236
Wow, thanks @Souptacular !

[2016-05-07 11:55] pncookson commented on #105
--opencl-platform 1 before the -G -M worked for me as well.  Thanks for the fix.

[2016-05-18 22:56] #76 closed

[2016-05-26 21:09] guilsa opened #253 "Intro account mgnt tutorial unclear whether procedure should be on test-net or main network"
https://github.com/ethereum/homestead-guide/blob/master/source/account-management.rst#using-mist-ethereum-wallet

[2016-05-28 13:57] Talkless opened #254 "Please consinder enabling word wrap for code bloce in .epub build"
Here's photo of how .epub guide looks on ebook reader (sorry for poor quality photo, phone failed to acquire focus):
![ethereum_guide](https://cloud.githubusercontent.com/assets/292191/15627695/b03e4642-24f4-11e6-86f2-028b391a14cf.jpg)

In order to read full code lines I have to reduce font size drastically, and than increase to keep reading text.

I've red some technical ebooks, and yes, wrapped

[2016-05-28 14:44] bobsummerwill commented on #254
Hey @Talkless,

Please could you work out what we would need to make that change, and submit a pull-request?   Nobody here is any kind of RST expert :-)   Thanks!

[2016-05-28 15:31] hughlang commented on #254
I'd like to help out with this. I have a lot of epub experience, but probably quite rusty.

[2016-05-28 15:59] Talkless commented on #254
@hughlang that would be very nice of you, because I have 0 experience there.

[2016-05-28 23:17] bobsummerwill commented on #254
You do, @hughlang?   Great!

I looked at our epub file at some point, just for fun (http://readthedocs.org/projects/ethereum-homestead/downloads/epub/latest/), with iBooks, after spotting that it existed.    Some of it reads OK, but the links/footnotes look really weird.

If it is possible to "tart it up" a bit, that would be great.

[2016-06-21 00:55] drandreaskrueger opened #284 "have improved the Debian 8 manual"
see my

https://gist.github.com/drandreaskrueger/912e704cfc86fd757277a5fd9bd372d4

GUI applications are working. Feel free to add to [Installing dependencies for Debian](http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/building-from-source/linux-debian.html#debian-jessie-8-5).

[2016-06-22 00:12] bobsummerwill commented on #284
Great!   Please do feel free to submit a pull-request to that page with any improvements which you think make sense.

CC @programonauta.

[2016-07-03 22:09] bobsummerwill commented on #284
Replaced with https://github.com/ethereum/webthree-umbrella/issues/608.

[2016-07-03 22:09] #284 closed

[2016-07-08 17:25] programonauta opened #290 "Error on "Installing dependencies for Debian" page"
Found an error on document page [Installing dependencies for Debian](http://ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/building-from-source/linux-debian.html#debian-jessie-8-5)

The command `wget -c http://llvm.org/releases/3.7.1/llvm-3.8.0.src.tar.xz` must be updated to `wget -c http://llvm.org/releases/3.8.0/llvm-3.8.0.src.tar.xz`

[2016-07-08 22:01] bobsummerwill commented on #290
Fixed - thanks!

[2016-07-08 22:01] #290 closed

[2016-08-03 18:20] ana0 opened #296 "Instructions for setting up a testnet are deprecated"
The guide to setting up a local private testnet using Geth does not work on homestead (Genesis flag is deprecated, javascript console has changed).  [Here](http://www.ethdocs.org/en/latest/network/test-networks.html#setting-up-a-local-private-testnet)

Probably the instructions using eth are wrong as well, but I don't use Eth and haven't checked.

Note: I've actually already started fixing the get

[2016-08-12 04:46] jjmr007 opened #303 "I'm failing to import a testnet blockchain binary file (Bad block #1)"
My first try was:

`geth --testnet import ~testnetblockchain.bin`

And geth gave me back:

I0811 23:59:37.742111 core/headerchain.go:94] WARNING: Wrote default ethereum genesis block
I0811 23:59:37.742111 core/blockchain.go:206] Last header: #0 [d4e56740.] TD=17179869184
I0811 23:59:37.742111 core/blockchain.go:207] Last block: #0 [d4e56740.] TD=17179869184
I0811 23:59:37.742111 core/blockchain.go

[2016-08-12 07:34] bobsummerwill commented on #303
Please raise an issue on https://github.com/ethereum/go-ethereum/issues.

Or just have a chat on https://gitter.im/ethereum/go-ethereum/issues.

Best wishes!

[2016-08-12 07:34] #303 closed

[2016-08-13 04:37] jjmr007 commented on #303
@bobsummerwill  I believe there is a mistake in the morden .json file [published](https://github.com/ethereum/homestead-guide/blob/master/source/network/test-networks.rst) HERE.
It is giving me the message:
`successfully wrote genesis block and/or chain rule set: c31c07282c5f803da583b8b65f3aa0b5cce411f3ffa6ae11c5e0adb3e057ef4a`
while the right hash of morden's genesis should be:
`0cd786a2425d16f15

[2016-08-25 09:38] mista66 commented on #204
add this line to the ethdocs page,  I've opened a pull request for its inclusion https://github.com/ethereum/homestead-guide/pull/311

sudo apt-get install software-properties-common

[2016-09-01 19:06] bobsummerwill commented on #204
That PR was merged.   I think we are good :-)

Please comment here again if there are still issues, guys.   Thanks!

[2016-09-01 19:06] #204 closed

[2016-09-03 09:33] duaraghav8 opened #314 "Proposal: Add Solium to the list of developer tools"
I've been working on a Linter for Solidity for about a month and recently made a stable release.
Its called Solium, it strictly follows the Official Style guide from the Solidity Docs and its usage is similar to that of eslint.
If you'd like to give it a try, you can install it via npm
[code]
and visit the [repository](https://github.com/duaraghav8/Solium) for more information.

I'd like to add it

[2016-09-03 23:28] bobsummerwill commented on #314
Sure - please create a pull request for the changes.
You could also create a PR under the solidity repo, for the http://solidity.readthedocs.org docs.

[2016-09-03 23:28] #314 closed

[2016-09-05 12:17] duaraghav8 commented on #314
Thanks.
Since I haven't worked with readthedocs before, I had a noob doubt.
**Am I right in saying that I only need to push the changes in the ```rst``` file** (```developer-tools.rst``` in this case)?

I know that we need to ```make html``` to see the final result but since I don't see any compiled HTML on this repo, my assumption is that you have auto-rebuild. So once the change is pushed in an

[2016-09-08 14:15] KushGoyal commented on #296
Some instructions are given here:
https://github.com/ethereum/go-ethereum/wiki/Command-Line-Options#init

[2016-10-10 03:19] TUTUBIG opened #330 "Could somebody translate it to chinese?"

[2016-10-16 07:24] #330 closed

[2016-11-05 05:49] qjflores opened #335 "Missing } in Create and deploy a contract"
https://ethereum-homestead.readthedocs.io/en/latest/contracts-and-transactions/contracts.html#create-and-deploy-a-contract

var abi = [{ constant: false, inputs: { name: 'a', type: 'uint256' } ]

abi is missing an }

[2016-11-07 07:11] qjflores opened #337 "Link for "Dapp tutorials on ethereum.org" goes to Ethereum.org homepage"
Maybe the link should point to something like

https://forum.ethereum.org/discussion/1634/tutorial-1-your-first-contract

[2017-02-23 07:54] salsa-dev opened #348 "Codeblock for a Config sample used by the Olympic network doesn't show up on ethdocs.org"
There is no code in section [custom-networks-eth](http://www.ethdocs.org/en/latest/network/test-networks.html#custom-networks-eth) although [the source code for the page](https://github.com/ethereum/homestead-guide/blob/master/source/network/test-networks.rst#eth-c-client-1) looks good.

[2017-02-23 17:05] gbersac opened #349 "[doc] Invalid command"
In the page : https://github.com/ethereum/homestead-guide/blob/master/source/mining.rst

The following command is proposed to the user :

[code]

Running on mac, I get this error message `Invalid argument: -G` using geth `1.5.9-stable-a07539fb`. The documentation should be updated.

[2017-02-28 16:29] anhldbk opened #350 "No such method admin.getContractInfo"
Hi there,

When reading section [Contract metadata](http://ethdocs.org/en/latest/contracts-and-transactions/contracts.html#contract-metadata), I see the following code does NOT work

[code]

My system info:

[code]

It seems to be `admin.getContactInfo` get deprecated. Please have a look at: https://github.com/ethereum/webthree-umbrella/issues/99

Should I make a PR against this problem?

[2017-03-27 02:08] sneurlax commented on #34
@MicahZoltu is correct here that `LOCALAPPDATA` is the best place to store blockchain data, not `HOME` or `APPDATA`

[2017-04-13 08:31] niktrix commented on #296
customgenesis.json is also need to be updated
Fatal: invalid genesis file: hex string has odd length

[2017-05-14 14:23] MysticRyuujin opened #353 "default maxpeers and trusted-nodes.json"
I have two computers running Geth

On both computers I have a static-nodes.json and a trusted-nodes.json file in the datadir and they contain one entry: the other node...

I am under the impression that placing a node into trusted-nodes.json would not count against the maxpeers? However, running Geth with default maxpeers (not specifying --maxpeers, which defaults to 25) results in the systems not

[2017-05-14 14:31] MysticRyuujin commented on #353
Sorry I opened this in the wrong repo!

[2017-05-14 14:31] #353 closed

[2017-06-21 15:42] kusayuzayushko commented on #204
Same issue.

[code]

[2017-06-25 04:21] parunach opened #359 "Document for deploying a contract needs to be updated"
When I run

`curl --data '{"jsonrpc":"2.0","method": "eth_compileSolidity", "params": ["contract Multiply7 { event Print(uint); function multiply(uint input) returns (uint) { Print(input * 7); return input * 7; } }"], "id": 4}' localhost:8000`

I get

`{"jsonrpc":"2.0","id":4,"error":{"code":-32601,"message":"The method eth_compileSolidity does not exist/is not available"}}`

The compileSolidity h

[2017-06-27 03:56] rainbowhat opened #360 "MacOS Sierra?"
MacOS Sierra?

[2017-07-04 09:36] khalil96 opened #365 "Ethereum Miners cant detect gpu"
So ive been trying to get into ethereum mining and ive followed several of the guides online done everything correctly but for some reason neither claymores dual miner nor ethminer can detect my gpu.
Now i don't have a discrete gpu but an apu and i know most would say im not gonna get anything out of it but its just to try it out before i invest into actual gpu's. Anyway when i use the list device

[2017-08-11 13:58] yisus1977 commented on #204
I my case I needed to add universe repository:
sudo add-apt-repository universe

[2017-08-12 10:22] rohitgoyal commented on #360
+1
Getting Cmake error while trying to install using command line on MacOS Sierra.
Last 15 lines from /Users/rohitgoyal/Library/Logs/Homebrew/cpp-ethereum/01.cmake:
    https://github.com/ruslo/hunter/wiki/error.internal

[2017-08-13 05:29] cifer-lee opened #374 "please mark Morden as 'disused' in test-network.rst"
since it transfers to Ropsten network....

[2017-08-16 14:31] mintho opened #375 "ethminer doesn't recognise eGPU"
I'm new to this, so excuse my ignorance, but whatever I do, ethminer only seems to find my internal graphics card, not the external one.

`thomin$ ethminer --list-devices

[OPENCL]:
Listing OpenCL devices.
FORMAT: [deviceID] deviceName
[0] Intel(R) Iris(TM) Graphics 550
	CL_DEVICE_TYPE: GPU
	CL_DEVICE_GLOBAL_MEM_SIZE: 1610612736
	CL_DEVICE_MAX_MEM_ALLOC_SIZE: 402653184
	CL_DEVICE_MAX_WORK_GROUP_SI

[2017-08-23 12:42] AyushyaChitransh opened #376 "Mismatch in ethdocs and git repo"
## Problem

The documentation on [ethdocs](http://ethdocs.org/en/latest/ethereum-clients/parity/index.html) do not match the one given in the repository.

## Reproducing the problem

- Visit Docs » Ethereum Clients » [Parity](http://ethdocs.org/en/latest/ethereum-clients/parity/index.html))
- The website and github link to older version of ethcore.
- Click `Edit on GitHub` given in top right corne

[2017-08-28 22:30] Jonny125 opened #377 "AMD R9 390: ethminer no gpu device with sufficient memory was found"
Hey guys,
I'm facing some issues with my ethminer which I am unable to solve.
I have an AMD R9 390 with 8GB of VRAM (should be enough for mining).
However ethminer tells me that there's no GPU with sufficient memory available.
I tried adding `--opencl-platform 1` to my command line but that didn't solve the problem.
My internal GPU is deactivated as well.
Any hints on how to solve the problem and

[2017-09-07 02:12] jamesray1 opened #380 "Ref issue for better docs for a better student DX"
https://github.com/ethereum/wiki/issues/468

[2017-09-20 07:28] nerdoc opened #382 "Link to github page wrong"
On http://www.ethdocs.org/en/latest/ethereum-clients/parity/index.html#parity, there is a link to https://github.com/ethcore/parity, which is old and says "Moved to https://github.com/paritytech/parity".
The link should be updated in the docs.
Funnily, the ethdocs.org page says "latest" version, and the "Edit on github" link points to https://github.com/ethereum/homestead-guide/blob/master/source/

[2017-10-17 16:36] pirapira opened #389 "The build fails on readthedocs.org"
https://readthedocs.org/projects/ethereum-homestead/builds/6127814/

[2017-11-04 01:57] eltonmelo21 opened #392 "Ubuntu PPA depends on alethzero and mix-ide"
The installation guide at http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/installing-binaries/linux-ubuntu-ppa.html presents the following instructions:

[code]
However, the last command fails due to dependencies:
[code]

[2017-11-25 20:32] saneletm commented on #392
I followed this: https://ethereum.stackexchange.com/questions/1614/whats-the-difference-between-eth-and-cpp-ethereum

Install was successful, but trying to run without any args, I keep getting:

cpp-ethereum, a C++ Ethereum client
cpp-ethereum 1.2.9
  By cpp-ethereum contributors, (c) 2013-2016.
  See the README for contributors and credits.
Transaction Signer: XE082FHN9D7IH56128UC61A6U7Z6E2HKAT (

[2017-11-25 20:38] saneletm commented on #392
this probably needs to go to the cpp-ethereum issues

[2017-11-30 16:24] spralexx commented on #392
I've got the same issue here.

[2017-12-02 10:37] cfs314 opened #399 "Correction of wrong uncle reward calculation (mining.rst)"
The **"Mining Rewards"** section in http://www.ethdocs.org/en/latest/mining.html contains an oversimplified (and actually wrong) explanation how uncles are rewarded when stating that all uncles are rewarded the same reward (namely, 7/8th of the static block reward of 5 Ether = 3.75 Ether).

Actually, the reward an uncle (i.e., the miner of an uncle block) receives **depends on how many generation

[2017-12-08 07:31] jamesray1 opened #401 "I made a community wiki"
I've made a community wiki about Ethereum. Feel free to have a look at it: https://github.com/jamesray1/Ethereum-introduction/wiki/Ethereum-introduction.

It might be handy to add it here as a Wiki as well.

[2017-12-14 06:42] trungtt1981 commented on #348
The JSON config for private node is well specified right here:
https://github.com/ethereum/homestead-guide/blob/master/source/network/test-networks.rst

[2017-12-16 09:18] mshenfield opened #406 "Bad link for EtherEx"
etherex.org now points to a static squatting page. The correct URL for the EtherEx site is https://etherex.github.io/etherex/#/

[2017-12-16 09:32] mshenfield opened #408 "Linked testnet wei Faucet doesn't seem to work"
The linked wei faucet (https://zerogox.com/ethereum/wei_faucet) in [**Getting Mordern Testnet Ether**](http://www.ethdocs.org/en/latest/network/test-networks.html#getting-morden-testnet-ether) is down with a gateway timeout, and should probably be removed.

[2017-12-20 14:14] anthonyjp87 opened #410 "The Genesis File for setting up a local test network has changed"
Hi,

There is an issue with the Genesis file as described in the homestead-guide/source/network/test-networks.rst. I believe the format has changed.

currently in homestead doc:
{
    "nonce": "0x0000000000000042",     "timestamp": "0x0",
    "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "extraData": "0x0",     "gasLimit": "0x8000000",     "difficulty": "0

[2017-12-26 20:55] salsa-dev commented on #348
@trungtt1981 there are missing blocks of code in generated documentation.

[2018-01-04 01:13] jamesray1 opened #412 "Ethdocs isn't maintained"
There are [33 open PRs at the moment](https://web.archive.org/web/20180104002823/https://github.com/ethereum/homestead-guide/pulls), [starting from 21 Jun 2017, not including only one in 2016 that has conflicts](https://web.archive.org/web/20180104011301/https://github.com/ethereum/homestead-guide/pulls?page=2).

[2018-01-04 01:17] sneg55 commented on #412
I've tried to raise this question, but it seems no one cares about it.

[2018-01-04 01:23] jamesray1 commented on #412
I've created an unlicense for this repo [here](https://github.com/ethereum/homestead-guide/pull/413), so that the repo can be forked and modified by anyone, e.g. in this repo [here](https://github.com/Ethereum-community/homestead-guide).

[2018-01-05 15:33] #408 closed

[2018-01-05 15:35] #406 closed

[2018-01-12 02:23] yosun opened #418 "cli installation - brew linkapps deprecated"
Following https://ethereum.org/cli

brew tap ethereum/ethereum
brew install cpp-ethereum
**brew linkapps cpp-ethereum**

Unfortunately `brew linkapps` cannot behave nicely with e.g. Spotlight using
either aliases or symlinks and Homebrew formulae do not build "proper" `.app`
bundles that can be relocated. Instead, please consider using `brew cask` and
migrate formulae using `.app`s to casks.

Perh

[2018-01-15 12:41] pirapira opened #421 "still relevant? "We only support Visual Studio 2015 as of cpp-ethereum-v.1.3.0""
There is a [line](https://github.com/ethereum/homestead-guide/pull/419/files#diff-346e6656b14e13e3bb46163713a94473R67) that says only Visual Studio 2015 is supported, but is that still the case?

[2018-01-18 07:23] leweihe opened #424 "the CustomGenesis.json have some problem"
in page test-networks.html the CustomGenesis.json
{
    "nonce": "0x0000000000000042",     "timestamp": "0x0",
    "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "extraData": "0x0",     "gasLimit": "0x8000000",     "difficulty": "0x400",
    "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "coinbase": "0x33333333333333333

[2018-01-20 16:57] Darkshadow11353 commented on #105
I had the same problem with an rx460 4gb, and using --opencl-platform 1 got it to work, but it says it can't connect to http://127.0.0.1:8545, and keeps retrying. My internet is fine, so I don't think it is the problem

[2018-02-22 09:39] pirapira commented on #424
Can you file a pull-request, applying the change?

[2018-03-13 00:43] sampullman commented on #374
@pirapira I made a pull request today that updates references from Morden to Ropsten, this issue can probably be closed if it is accepted. PR is #430

[2018-04-17 05:19] halfalicious opened #437 ""Coding Standards" link is broken on"

[2018-04-17 05:23] halfalicious opened #438 ""Coding Standards" link on "Contributing" page of documentation is broken (404 error)"
It looks like the "Coding Standards" link (URL: https://raw.githubusercontent.com/ethereum/cpp-ethereum/develop/CodingStandards.txt) on the ["Contributing" page](http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/contributing.html) of the [documentation](http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/index.html) is broken. Relevant text from the page:

[2018-04-18 05:03] halfalicious commented on #437
Accidentally opened a dupe (sorry about that!), the "real" issue is here: https://github.com/ethereum/homestead-guide/issues/438

[2018-04-18 05:03] #437 closed

[2018-04-20 03:35] halfalicious commented on #421
It looks like Visual Studio 2017 is supported, I successfully built `eth.exe` by executing the following command in the Developer Tools command prompt (after installing VS2017 Professional):

`cmake -G "Visual Studio 15 2017 Win64" .`

Followed by:

`cmake --build . --config RelWithDebInfo`

I hit over 1000 warnings but `eth.exe `was built and I can launch it successfully.

[2018-04-26 09:27] pirapira commented on #421
@halfalicious can you file a pull-request to this repository?

[2018-05-02 09:26] paulvi commented on #412
@jamesray1
OK cloning a repository that is not active enough is fine, now at https://github.com/Ethereum-community/homestead-guide

But how about updating https://ethereum-homestead.readthedocs.io/en/latest/ ?

[2018-05-03 02:35] halfalicious commented on #421
Sure thing, will do that in the next week or so

[2018-05-03 03:11] jamesray1 commented on #412
@paulvi TBH I haven't maintained https://github.com/Ethereum-community/homestead-guide either. I think having a wiki is a better approach. https://github.com/ethereum/wiki/wiki

[2018-05-03 03:52] jamesray1 commented on #412
Additionally the license for this repo was changed to CC BY-SA-4.0, so anyone should be able to edit it without having copyright issues now. I can add others as a contributor to that repo, however I suggest talking to maintainers here to discuss being added as a contributor to that repo, if interested. You could make a PR to update that page.

[2018-05-03 06:46] paulvi commented on #412
Just learned that https://ethereum-homestead.readthedocs.io/en/latest/ = http://ethdocs.org/en/latest/

and while this repository says that

That is wiki is legacy, in fact https://github.com/ethereum/wiki/wiki is still being updated.

So the first problem seems what is actually place for documentation?

[2018-05-03 07:01] paulvi opened #439 "Rename this repository to ethdocs.org-site or deprecate it as old "homestead-guide""
As new to Ethereum, I find it hard to understand where to get documentation.

Particularly what is prefered https://github.com/ethereum/wiki/wiki or this repo https://github.com/ethereum/homestead-guide that is published to https://ethereum-homestead.readthedocs.io/en/latest/ = http://ethdocs.org/en/latest/

There was question #412 raised in Jan 2018 by @jamesray1 is this repository maintained at

[2018-05-03 07:06] paulvi commented on #412
@jamesray1 Can you rename this issue to "this repository (Ethdocs) isn't maintained"
or even "THIS REPOSITORY (Ethdocs.org) IS NOT MAINTAINED"

[2018-05-03 07:28] paulvi commented on #401
PPS The whole intro for https://github.com/Ethereum-community is now

So if so,  please close this issue.

[2018-05-03 07:37] paulvi commented on #401
post-post-PS

@jamesray1
Found your work at https://github.com/ethereum/wiki/wiki/Ethereum-introduction

[2018-05-03 07:43] paulvi commented on #410
Yes, the source `/source/network/test-networks.rst` that is also published at http://ethdocs.org/en/latest/network/test-networks.html
is outdated

There is question if this repository is cared for at all #412

[2018-05-03 07:45] paulvi commented on #412
referencing @pirapira Yoichi Hirai who could do latest PR merges.

[2018-05-03 07:46] paulvi commented on #439
referencing @pirapira Yoichi Hirai who could do latest PR merges.

[2018-05-03 08:56] jamesray1 commented on #401
Yeah I think it's better to wait for Yoichi or other maintainers to review PRs in Ethereum/homestead-guide. Having two split repos isn't advisable when that is being maintained (albeit maybe with nudging).

[2018-05-03 08:56] #401 closed

[2018-05-03 08:57] jamesray1 commented on #401
And yes https://github.com/ethereum/wiki/wiki/Ethereum-introduction is a more freely editable alternative.

[2018-05-03 09:00] jamesray1 commented on #401
But I did update the reader.

[2018-05-03 09:05] jamesray1 commented on #412
@paulvi it may be a stretch to say that it is not maintained, maintainers may maintain it, albeit it may require prompting. I'll close this issue.

[2018-05-03 09:05] #412 closed

[2018-05-03 09:06] pirapira commented on #412
I've been prompted.  Currently six PRs are open, and I've left a comment on every one of them.

[2018-05-03 09:07] jamesray1 commented on #412
I would say that https://github.com/ethereum/wiki/wiki is a more appropriate place for documentation. Vitalik Buterin, myself and others edit it. And anyone can freely edit it without having to be added as a collaborator to the repo or require collaborators to review PRs.

Yoichi, sorry to make it look like I was blaming you, note that I did say it it _may_ require prompting. I haven't looked into

[2018-05-03 09:11] jamesray1 commented on #412
Regarding the legacy doc reference to the wiki I made a PR for that: https://github.com/ethereum/homestead-guide/pull/440.

[2018-05-03 09:25] paulvi opened #441 "Status"
According to https://en.wikipedia.org/wiki/Ethereum#Milestones

Homestead is not even current version, yet some changes are added.

If this repo is not just for Homestead but for current version, README should be updated,
as well as http://ethdocs.org/en/latest/ front page

[2018-05-03 15:53] sampullman commented on #441
The README should be updated, the maintainers would probably be happy to merge a PR for that.

[2018-05-03 15:56] paulvi commented on #441
Thank you for response, the PR is open, it is #440

[2018-05-04 16:29] paulvi opened #443 "Change http://ethdocs.org to redirect to wiki"
After #440 and note on https://ethereum-homestead.readthedocs.org that it is historical archive,

http://ethdocs.org can be used to redirect to new destination https://github.com/ethereum/wiki/wiki (as per my knowledge)

[2018-05-26 16:16] ponarunkumar opened #452 "404 - ethereumH page not found"
Navigate > http://www.ethdocs.org/en/latest/ethereum-clients/ethereumh/index.html and the link
https://github.com/blockapps/ethereumH needs to be updated.

[2018-06-03 06:41] Keeganderson commented on #105
I had the same problem a while back and fixed it by adding --opencl-platform 1 but the problem recently came back up.
I have "ethminer.exe --farm-recheck 200 --opencl-platform 1 -G -S us2.ethermine.org:4444 -FS us1.ethermine.org:4444 -O (address)" but suddenly got the error "no gpu device with sufficient memory was found" again.
Does anyone have another solution?

[2018-06-04 20:35] tommystanton commented on #424
Making the changes as described by @leweihe did fix the same issue that I had on my machine, but upon further investigation, the current documentation (particularly the change to the documentation in commit ebe69e43) has a `CustomGenesis.json` example that works just fine.

It seems that it's only `extraData` that needs to be `0x00` (instead of `0x0`).  That was fixed in commit 7f5a193.

In conclu

[2018-06-04 20:38] tommystanton commented on #424
This issue also seems to be related to ethereum/go-ethereum#14356.

[2018-09-05 16:50] Sudha247 commented on #452
Yeah, I too noticed the link is broken. Is that repo [here](https://github.com/jamshidh/ethereum-client-haskell) now?

[2018-12-05 20:45] fabcan opened #461 "Ethereum timeline link is broken"
In Ethereum docs, precisely in the [Ethereum Resources](http://www.ethdocs.org/en/latest/introduction/history-of-ethereum.html#history-resources) the link to the Ethereum timeline is broken and it redirects to all kinds of websites.

[2018-12-31 15:36] flipchan opened #462 "OpenBSD build instructions"
Feature request to add instructions on how to build it on OpenBSD(6.4)

[2019-01-01 09:50] flipchan commented on #462
same as https://github.com/ethereum/solidity/issues/5728

[2019-01-01 23:47] werzedef opened #463 "Incorrect script extension on cpp-ethereum "Building for Linux guide""
Nevermind!

[2019-01-01 23:52] werzedef opened #464 "Broken link for "install_deps.sh" on "Build for Linux" page"
The link that points to the following:
https://github.com/ethereum/aleth/blob/develop/scripts/install_deps.sh

Should instead point to the following:
https://github.com/ethereum/aleth/blob/master/scripts/install_deps.bat

[2019-01-02 00:00] #463 closed

[2019-01-22 14:55] Secullus commented on #377
Hi Jonny
What does the command "ehtminer.exe --list-devices" return ?
François

[2020-10-29 17:46] samajammin opened #473 "Proposal: migrate content to ethereum.org"
Hey folks - first off, thanks for your past efforts to create & maintain this repo!

Since the recent launch of our [ethereum.org developer docs](https://ethereum.org/en/developers/docs/) (more on that [here](https://blog.ethereum.org/2020/10/22/introducing-the-new-developer-portal/)), we've received requests to migrate/consolidate content from ethdocs.org.

I'd like to gather input (particularly

[2020-10-29 18:07] samajammin commented on #473
Tagging @pirapira as well - looks like you merged a good amount of PRs 😄

[2020-10-29 18:43] bobsummerwill commented on #473
Please do :-)
I am kind of amazed that it hasn't already been sunset.
I personally wouldn't bother with any kind of "fancy" redirection.  I doubt anybody has got bookmarks into this content.

[2020-11-02 18:52] samajammin commented on #473
Thanks for the input @bobsummerwill!

I actually think redirects are important here. The site has a surprising number of backlinks pointing to it, [~50K links from ~2K domains according to this SEO tool](https://app.neilpatel.com/en/seo_analyzer/backlinks?domain=ethdocs.org&mode=domain).

[2020-11-02 19:18] bobsummerwill commented on #473
That is surprising.
Well, whatever you think is best on the redirections.

[2020-11-06 19:06] Souptacular commented on #473
At first I was more into the idea of banners so we preserve the historical aspect of the docs and what Ethereum used to be, but since we have a GitHub repo for that (and since there are a lot of backporting links) I think it is best to do the redirect plan. I'll coordinate with you on this @samajammin. Thanks!

[2022-02-10 13:38] q9f commented on #473
What's the latest on that?

I think we should not keep outdated docs unmaintained. Redirections should be a viable solution unless someone wants to curate this repository.

[2022-03-11 21:25] samajammin commented on #473
Hey @q9f - this work frankly hasn't been a priority for our team but we (hopefully) have found a contributor who can own this initiative. We are in discussions with them now & hopefully will have a clear plan within the next week or two.